<configuration>

 <system.webServer>

   <!– indicates that the app.js file is a node.js application

   to be handled by the iisnode module –>

   <handlers>

     <add name="iisnode" path="index.js" verb="*" modules="iisnode" />

   </handlers>

     <rewrite>

 &nbsp; &nbsp; &nbsp;&lt;rules&gt;

         &lt;rule name=&quot;DynamicContent&quot;&gt;

     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;conditions&gt;

     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;add input=&quot;{REQUEST_FILENAME}&quot; matchType=&quot;IsFile&quot; negate=&quot;True&quot;/&gt;

     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/conditions&gt;

     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;action type=&quot;Rewrite&quot; url=&quot;app.js&quot;/&gt;

     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/rule&gt;

 &nbsp; &nbsp; &lt;/rules&gt;

 &lt;/rewrite&gt; &nbsp; &nbsp;
 </system.webServer>

</configuration>